@page "/requests"
@attribute [StreamRendering]
@rendermode InteractiveServer
@using Requeceptor.Domain

<PageTitle>Requests</PageTitle>

<h1>Requests</h1>

<MudDataGrid T="RequestRecord" MultiSelection="true" Items="@_requests" SortMode="SortMode.Multiple" Filterable="false"
             Hideable="true" >
    <Columns>
        <PropertyColumn Property="x => x.ReceivedAt" Title="Nr" />
        <PropertyColumn Property="x => x.Method" />
    </Columns>
    <PagerContent>
        <MudDataGridPager T="RequestRecord" />
    </PagerContent>
</MudDataGrid>