:root {
    --rz-body-font-size: 0.9rem;
    --rz-root-font-size: 0.9rem;
    --rz-text-font-family: Roboto, sans-serif;
    --rz-card-border-radius: 0px;
    --rz-card-shadow: none;
    --rz-card-border-color: gray;
}

html, body {
    margin: 0;
    font-weight: 300;
    line-height: 1;
    color: #000;
    background-color: #fff;
}

.pre-wrap {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-x: auto;
    max-width: 100%;
    line-height: 1.5;
}

.rz-pager-element {
    font-size: 0.8rem;
}
